body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #104A52;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', sans-serif;
  color: #3E891F;
}

h4 {
  font-size: 22px;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

.flex__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex__wrap.sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  padding: 80px 0;
}

@media screen and (max-width: 560px) {
  section {
    padding: 56px 0;
  }
}

.button {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #104A52;
  font-family: 'Lato', sans-serif;
}

.button::before {
  content: '';
  position: absolute;
  bottom: -4px;
  height: 1px;
  background: #104A52;
  width: 100%;
  right: 0;
  -webkit-transition: width ease .25s;
  transition: width ease .25s;
}

.button::after {
  content: '';
  position: absolute;
  bottom: -4px;
  height: 1px;
  background: #104A52;
  width: 0%;
  left: 0;
  -webkit-transition: width ease .25s;
  transition: width ease .25s;
}

.button:hover::before {
  width: 0;
}

.button:hover::after {
  width: 100%;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.uk-overlay-default {
  background: #0e231acc;
}

.uk-breadcrumb > :last-child > a:not([href]), .uk-breadcrumb > :last-child > span {
  color: #fff;
}

.uk-breadcrumb > * > * {
  font-size: 16px;
  color: #dcdcdc;
}

.uk-lightbox {
  background: #000000de;
}

h1.pagetitle {
  font-size: 64px;
  line-height: 1.4;
  margin-bottom: 32px;
}

@media screen and (max-width: 560px) {
  h1.pagetitle {
    font-size: 52px;
  }
}

.page__intro p {
  margin-bottom: 16px;
}

.page__intro p:last-of-type {
  margin-bottom: 0;
}

header {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 #00000030;
          box-shadow: 0 4px 20px 0 #00000030;
}

header .uk-navbar {
  padding: 2px 0;
}

header .cropped {
  display: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header.uk-active .full {
  display: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header.uk-active .cropped {
  display: block;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.careway-header-mobile .uk-navbar-container {
  background-color: transparent;
}

.careway-header-mobile .uk-navbar-container .uk-navbar-right {
  gap: 24px;
}

@media screen and (max-width: 410px) {
  .careway-header-mobile .uk-navbar-container .uk-navbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .careway-header-mobile .uk-navbar-container .uk-navbar-left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .careway-header-mobile .uk-navbar-container .uk-navbar-right {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .careway-header-mobile .uk-navbar-container .uk-navbar-right .uk-navbar-item {
    min-height: 64px;
  }
}

.careway-header-mobile .uk-offcanvas-bar .uk-navbar-dropdown {
  background-color: transparent;
  margin: 10px 0 24px;
}

.careway-header-mobile .uk-offcanvas-bar .uk-navbar-dropdown-nav > li > a {
  color: #bbb;
}

.share {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.share a {
  display: block;
  margin: 8px 0;
  opacity: 0.4;
}

.share a img {
  width: 36px;
  -webkit-filter: grayscale(0.95);
          filter: grayscale(0.95);
}

.share a:hover {
  opacity: 1;
}

.share a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (max-width: 640px) {
  .share {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
    bottom: 8px;
    top: auto;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.results__cta {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results__cta a {
  display: block;
  margin: 10px 0;
  opacity: 0.8;
}

.results__cta a img {
  width: 32px;
  -webkit-filter: grayscale(0.95);
          filter: grayscale(0.95);
}

.results__cta a:hover {
  opacity: 1;
}

.results__cta a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.home__slider {
  position: relative;
}

.home__slider .home__slidertext {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
  z-index: 1;
  color: #fff;
}

.home__slider .home__slidertext h1 {
  font-size: 88px;
  font-weight: 700;
  line-height: 1.24;
  color: #fff;
  margin-bottom: 48px;
}

.home__slider .home__slidertext p {
  font-size: 20px;
  font-weight: 300;
}

.homeSwiper {
  height: calc(100vh - 84px);
}

.homeSwiper .swiper-wrapper::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000077;
}

.homeSwiper .swiper-button-next {
  right: 50px;
  width: 80px;
  height: 80px;
  color: #33333361;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: auto;
  bottom: 50px;
  left: auto;
}

.homeSwiper .swiper-button-next::after {
  content: none;
}

.homeSwiper .swiper-button-next i {
  font-size: 18px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.homeSwiper .swiper-button-next:hover {
  background-color: transparent;
  color: #fff;
}

.homeSwiper .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .homeSwiper .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  right: 150px;
  left: auto;
  top: auto;
  bottom: 80px;
}

.homeSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  -webkit-transition: background-color .1s, color .1s;
  transition: background-color .1s, color .1s;
}

.homeSwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.homeSwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.homeSwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet.swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
}

.homeSwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.66);
          transform: scale(0.66);
  opacity: 0.8;
  background-color: #ffffff;
}

.home__video .video__wrap {
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.home__video .video__wrap video {
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 84px);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.intro {
  margin-top: 40px;
}

.intro p {
  margin-bottom: 16px;
}

.intro p:last-of-type {
  margin-bottom: 40px;
}

.intro .intro__images .security {
  width: 430px;
  height: 460px;
  margin: auto;
  display: block;
}

.intro .intro__images .top {
  position: absolute;
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  left: 0;
  top: 0;
}

.intro .intro__images .bottom {
  position: absolute;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 820px) {
  .intro .intro__images .top {
    width: 260px;
    height: 260px;
  }
  .intro .intro__images .bottom {
    width: 240px;
    height: 240px;
  }
}

@media screen and (max-width: 560px) {
  .intro .intro__images {
    margin-top: 48px;
  }
  .intro .intro__images .top {
    width: 60vw;
    height: 60vw;
  }
  .intro .intro__images .bottom {
    width: 50vw;
    height: 50vw;
  }
}

.service__tab .servicetab__wrap {
  background-color: #104A52;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 64px;
}

.service__tab .servicetab__wrap li {
  padding: 2px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #fff;
}

.service__tab .servicetab__wrap li a {
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 800;
}

.service__tab .servicetab__wrap li:hover a {
  color: #3E891F;
}

.service__tab .servicetab__wrap li:last-child {
  border: none;
}

.service__tab .uk-switcher img {
  border-radius: 10px;
  height: 324px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__tab .uk-switcher .servicetab__desc {
  max-height: 212px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service__tab .uk-switcher .servicetab__desc p {
  margin-bottom: 16px;
}

.service__tab .uk-switcher .button {
  margin-top: 20px;
  display: inline-block;
}

@media screen and (max-width: 560px) {
  .service__tab .servicetab__wrap {
    gap: 24px;
  }
  .service__tab .servicetab__wrap li {
    padding: 0;
    border-right: 0;
  }
  .service__tab .uk-switcher img {
    margin-bottom: 40px;
  }
}

.homebook {
  padding-top: 64px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(49%, #ffffff), color-stop(50%, #104a52), to(#104a52));
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 49%, #104a52 50%, #104a52 100%);
}

.homebook .homebook__content {
  -webkit-box-shadow: #104a5236 0px 8px 24px;
          box-shadow: #104a5236 0px 8px 24px;
  height: 400px;
}

.homebook .homebook__content .width600 {
  width: 600px;
  max-width: 68vw;
}

.homebook .homebook__content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffa3;
}

.homebook .homebook__content .uk-position-absolute {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.homebook p {
  font-size: 18px;
  line-height: 1.6;
}

@media screen and (max-width: 560px) {
  .homebook .homebook__content .uk-position-absolute {
    width: calc(100% - 60px);
  }
}

form input, form select, form textarea {
  width: 96%;
  font-size: 14px;
  height: 56px;
  margin-bottom: 24px;
  padding: 8px 0px;
  border-width: 1px;
  border-color: transparent transparent #104a5236;
  font-family: inherit;
}

form input::-webkit-input-placeholder, form select::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  color: #333333;
}

form input:-ms-input-placeholder, form select:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  color: #333333;
}

form input::-ms-input-placeholder, form select::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  color: #333333;
}

form input::placeholder, form select::placeholder, form textarea::placeholder {
  color: #333333;
}

form input:focus-visible, form select:focus-visible, form textarea:focus-visible {
  border-bottom-color: #104A52;
  outline: 0;
}

form input:focus-visible::-webkit-input-placeholder, form select:focus-visible::-webkit-input-placeholder, form textarea:focus-visible::-webkit-input-placeholder {
  color: transparent !important;
}

form input:focus-visible:-ms-input-placeholder, form select:focus-visible:-ms-input-placeholder, form textarea:focus-visible:-ms-input-placeholder {
  color: transparent !important;
}

form input:focus-visible::-ms-input-placeholder, form select:focus-visible::-ms-input-placeholder, form textarea:focus-visible::-ms-input-placeholder {
  color: transparent !important;
}

form input:focus-visible::placeholder, form select:focus-visible::placeholder, form textarea:focus-visible::placeholder {
  color: transparent !important;
}

form input::-webkit-outer-spin-button, form input::-webkit-inner-spin-button, form select::-webkit-outer-spin-button, form select::-webkit-inner-spin-button, form textarea::-webkit-outer-spin-button, form textarea::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form select {
  height: 73.6px;
  width: calc(96% + 34px);
  padding: 8px 0px;
}

@media screen and (max-width: 480px) {
  form select {
    width: 96%;
  }
}

form textarea {
  height: 40px;
  padding-top: 24px;
}

form button {
  border: 0;
  background-color: transparent;
  margin-top: 32px;
}

.testimonials__sec {
  background-color: #104951;
  position: relative;
  padding-top: 120px;
}

.testimonials__sec .uk-grid {
  margin-left: 140px;
}

.testimonials__sec .rev__info {
  color: #fff;
  font-size: 18px;
}

.testimonials__sec .rev__info h2 {
  color: #fff;
  font-size: 48px;
  margin-bottom: 24px;
}

.testimonials__sec .rev__info p {
  font-weight: 300;
}

.testimonials__sec .testimonials .swiper-slide {
  width: 464px;
}

.testimonials__sec .testimonials .testimonials-text-wrapper {
  height: 320px;
  background-color: #f6f3ee;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff1a;
  color: #fff;
}

.testimonials__sec .testimonials .testimonials-text-wrapper p {
  font-size: 19px;
  line-height: 1.5em;
}

.testimonials__sec .testimonials .testimonials-text-wrapper .testimonials-slider-author {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__sec .testimonials .testimonials-text-wrapper .testimonials-slider-author p {
  line-height: 1;
}

.testimonials__sec .testimonials .testimonials-text-wrapper .testimonials-slider-author img {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}

.testimonials__sec .swiper-button-prev {
  left: 180px;
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: auto;
  bottom: 80px;
}

.testimonials__sec .swiper-button-prev::after {
  content: none;
}

.testimonials__sec .swiper-button-prev i {
  font-size: 18px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.testimonials__sec .swiper-button-prev:hover {
  background-color: #fff;
  color: #333333;
}

.testimonials__sec .swiper-button-prev:hover .swiper-button-disabled {
  color: #333333bf;
}

.testimonials__sec .swiper-button-next {
  left: 280px;
  width: 80px;
  height: 80px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: auto;
  bottom: 80px;
}

.testimonials__sec .swiper-button-next::after {
  content: none;
}

.testimonials__sec .swiper-button-next i {
  font-size: 18px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.testimonials__sec .swiper-button-next:hover {
  color: #333333;
  background-color: #fff;
}

.testimonials__sec .swiper-button-next:hover .swiper-button-disabled {
  color: #333333bf;
}

.testimonials__sec .swiper-button-disabled {
  color: #ffffff7a;
}

@media screen and (max-width: 1024px) {
  .testimonials__sec .uk-grid {
    margin-left: 10px;
  }
  .testimonials__sec .swiper-button-prev {
    left: 30px;
    width: 70px;
    height: 70px;
  }
  .testimonials__sec .swiper-button-next {
    left: 116px;
    width: 70px;
    height: 70px;
  }
  .testimonials__sec .testimonials .swiper-slide {
    width: 400px;
  }
  .testimonials__sec .testimonials .testimonials-text-wrapper {
    height: 360px;
  }
}

@media screen and (max-width: 820px) {
  .testimonials__sec {
    padding-bottom: 176px;
  }
  .testimonials__sec .swiper-button-prev, .testimonials__sec .swiper-button-next {
    width: 64px;
    height: 64px;
    bottom: 60px;
  }
}

@media screen and (max-width: 420px) {
  .testimonials__sec .uk-grid {
    margin-left: -10px;
  }
  .testimonials__sec .testimonials .swiper-slide {
    width: calc(100% - 40px);
  }
  .testimonials__sec .testimonials .testimonials-text-wrapper {
    height: 320px;
  }
  .testimonials__sec .testimonials .testimonials-text-wrapper p {
    font-size: 16px;
  }
}

.blog__wrap {
  margin-bottom: 36px;
}

.blog__wrap .blog {
  height: 360px;
  overflow: hidden;
}

.blog__wrap .blog img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__wrap .blog .uk-overlay {
  top: 70%;
  padding: 26px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffffa3;
}

.blog__wrap .blog .uk-overlay h5 {
  height: 56px;
  font-size: 20px;
  overflow: hidden;
}

.blog__wrap .blog .uk-overlay p {
  display: -webkit-box;
  max-width: 100%;
  height: 136px;
  line-height: 1.7;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__wrap .blog:hover .uk-overlay {
  top: 0%;
  height: 308px;
}

footer {
  background-color: #accacd;
  padding: 80px 0 48px;
  color: #104951;
}

footer .footer__wrap {
  margin-top: 104px;
}

footer h2 {
  color: #104951;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 36px;
}

footer .col {
  margin-bottom: 16px;
}

footer .col:first-of-type {
  margin-bottom: 36px;
}

footer .col .uk-flex li {
  margin-right: 16px;
}

footer .col .uk-flex li span {
  border: 1px solid #10402c;
  border-radius: 50px;
  padding: 8px;
}

footer .col li {
  margin-bottom: 10px;
}

footer .col li:last-of-type {
  margin-bottom: 24px;
}

footer .col a {
  color: #104951;
}

footer .col a:hover {
  color: #fff;
}

footer .col img {
  width: 200px;
}

footer .form {
  margin-top: 104px;
}

@media screen and (max-width: 560px) {
  footer .form {
    margin-top: 16px;
  }
}

footer .form form {
  margin-top: 48px;
}

footer .form form input {
  background-color: transparent;
  height: 24px;
  padding: 8px 0;
}

footer .form form input::-webkit-input-placeholder {
  color: #104951;
  font-weight: 500;
}

footer .form form input:-ms-input-placeholder {
  color: #104951;
  font-weight: 500;
}

footer .form form input::-ms-input-placeholder {
  color: #104951;
  font-weight: 500;
}

footer .form form input::placeholder {
  color: #104951;
  font-weight: 500;
}

footer .form h6 {
  color: #104951;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 14px;
}

footer button {
  border: 0;
  background-color: transparent;
}

footer .footer__bottom span {
  font-size: 14px;
}

.page__intro {
  padding: 96px 0 24px;
}

.page__intro p {
  text-align: center;
  font-size: 18px;
}

.page h2 {
  padding-top: 24px;
}

.page p {
  margin-bottom: 12px;
}

.results .uk-position-cover {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.results .uk-position-cover svg {
  width: 32px;
  height: 32px;
  color: #fff;
}

.results .post:hover .uk-position-cover {
  opacity: 1;
  visibility: visible;
}

.post {
  margin-bottom: 48px;
}

.post:last-child {
  margin-bottom: 0;
}

.post img, .post iframe {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.post .about__post {
  padding: 24px 20px;
  background-color: #ebf5f672;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.post .about__post h5 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 0;
}

.post .about__post p {
  display: -webkit-box;
  max-width: 100%;
  height: 80px;
  line-height: 1.7;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 16px 0;
}

.post .about__post:hover {
  -webkit-box-shadow: 0 0 8px #104a5287;
          box-shadow: 0 0 8px #104a5287;
}

.blog__page {
  margin: 120px 0;
  color: #666;
}

.blog__page .blog__title {
  background-color: #104a52;
  margin-bottom: 56px;
}

.blog__page .blog__title h4 {
  color: #fff;
  padding: 18px;
  text-align: center;
}

.blog__page img {
  width: 100%;
  max-height: 480px;
  margin-bottom: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__page .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 16px;
}

.blog__page .date .uk-icon {
  margin-right: 10px;
}

.blog__page p {
  margin-bottom: 16px;
}

.faq__nav {
  margin: 64px 0;
  gap: 24px;
}

.faq__nav li {
  padding: 14px 30px;
  border: 1px solid #104A52;
  border-radius: 16px;
  cursor: pointer;
}

.faq__nav li.uk-active, .faq__nav li:hover {
  background-color: #f4f9f9;
}

.faqs {
  margin: 80px 0;
  padding-top: 40px;
}

.faqs a {
  color: #104A52;
}

.faqs li {
  border-bottom: 1px solid #104A52;
}

.faqs li .uk-accordion-title {
  padding: 24px 0;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.faqs li .uk-accordion-content {
  padding-bottom: 20px;
}

.faqs li p {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about > * {
  width: 50%;
}

.about img {
  height: 100vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .counter__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .counter__section .about__desc {
  margin: 140px 80px auto 160px;
}

.about .counter__section .about__desc h2 {
  font-size: 40px;
}

.about .counter__section .about__desc p {
  font-size: 19px;
}

@media screen and (max-width: 1500px) {
  .about .counter__section .about__desc {
    margin-top: 120px;
  }
  .about .counter__section .about__desc h2 {
    font-size: 2rem;
  }
  .about .counter__section .about__desc p {
    font-size: 1rem;
  }
}

.about .counter__section .counter__wrap {
  background-color: #104a52;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px;
  text-align: center;
  margin-bottom: 0;
}

.about .counter__section .counter__wrap span {
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  .about .counter__section .about__desc {
    margin: 0px 40px auto 40px;
  }
}

@media screen and (max-width: 820px) {
  .about img {
    height: 720px;
  }
}

@media screen and (max-width: 560px) {
  .about > * {
    width: 100%;
  }
  .about img {
    height: 480px;
  }
  .about .counter__section .counter__wrap {
    padding: 24px;
  }
  .about .counter__section .counter__wrap span {
    font-size: 48px;
  }
  .about .counter__section .counter__wrap p {
    font-size: 15px;
    font-weight: 300;
  }
}

@media screen and (max-width: 420px) {
  .about .counter__section .counter__wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
}

.contactform {
  padding: 80px 0 120px;
}

.maps .hours {
  left: 120px;
  width: 446px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.maps .contacthours__wrap {
  background-color: #104A52;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maps .working-hours-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maps .working-hours-title h2 {
  color: #f6f3ee;
}

.maps .working-hours-title p {
  color: #fff;
  line-height: 1.2em;
}

.maps .working-hours-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maps .working-hours-block .working-hours-item {
  border-bottom: 1px solid #afafaf80;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maps .working-hours-block .working-hours-item:last-child {
  border-bottom: 0;
}

.maps .working-hours-block .working-hours-item h5, .maps .working-hours-block .working-hours-item h6 {
  margin: 12px 0 14px;
  font-size: 20px;
  line-height: 1.2em;
  color: #f6f3ee;
}

.maps .working-hours-block .working-hours-item h6 {
  font-size: 18px;
  color: #f6f3ee;
  font-family: 'Lato', sans-serif;
}

.maps iframe {
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 820px) {
  .maps .hours {
    left: 40px;
    width: auto;
  }
}

@media screen and (max-width: 560px) {
  .maps .hours {
    left: 40px;
    width: calc(100% - 40px);
  }
  .maps .working-hours-block .working-hours-item h5, .maps .maps .working-hours-block .working-hours-item h6 {
    margin: 8px 0 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .maps {
    margin-bottom: 440px;
  }
  .maps .hours {
    left: -10px;
    top: 72%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    bottom: 0;
  }
  .maps iframe {
    height: 480px;
  }
}

.contact .contactinfo__wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .contactinfo__wrap i {
  font-size: 32px;
  color: #104A52;
  margin-right: 24px;
}

.contact .contactinfo__wrap .contactinfo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .contactinfo__wrap .contactinfo h4 {
  text-transform: uppercase;
  color: #104A52;
  font-size: 20px;
  margin-bottom: 2px;
}

.contact .contactinfo__wrap .contactinfo a {
  margin-right: 10px;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  color: #333;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.contact .contactinfo__wrap .contactinfo a:hover {
  color: #3E891F;
}

@media screen and (max-width: 560px) {
  .contact .uk-grid {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact .contactinfo__wrap {
    margin-right: 8px;
    margin-bottom: 16px;
    padding-left: 0;
  }
  .contact .contactinfo__wrap i {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .contact .contactinfo__wrap .contactinfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contactinfo__wrap .contactinfo h4 {
    font-size: 18px;
  }
  .contact .contactinfo__wrap .contactinfo a {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */